body {
  font-family: Arial, Helvetica, sans-serif;
  color: seagreen;
}

ul {
  padding-left: 0px;
  margin: 0;
}

li {
  break-inside: avoid-column;
}

.list {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  font-family: "Source Sans Pro",Arial;
  color: #2d2d2d;
  list-style-type: none;
  font-size: .888889rem;
}

.nav {
  float:right;
  position: relative;
}

.container {
  width: 1050px;
}

.ingredientList {
  width:70%;
}

.gear {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 16px;
}

.locationSubmitButton {
  background-color: #b2b2b2;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
  height: 54px;
}

.findMeButton {
  background-color: #b2b2b2;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
  height: 54px;
  width: 100%;
}

.productSnippet {
  width: 300px;
  height: 150px;
}

.productPhoto {
  width: 70px;
  height: 80px;
  float: right;
}

.onSaleSection {
  width: 300px;
}

.ingredientWithoutProduct {
  height: 65px;
}

.fa-plus-circle {
  color: #b2b2b2;
}

.fa-check-circle{
  color: #FFA500;
}
